In [1]:
import pandas as pd

In [2]:
path="winddata.csv"
df=pd.read_csv(path)
df

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1.0,1.0,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1.0,2.0,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1.0,3.0,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1.0,4.0,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1.0,5.0,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6570,78,12.0,28.0,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,78,12.0,29.0,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,78,12.0,30.0,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,78,12.0,31.0,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08
6574,78 12 31 20.33 17.41 27.29 9.59 12.08 10.13 1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data=pd.read_csv(path,parse_dates= {"date" : ["Dy","Mo","Yr"]})

In [4]:
new_data=data.dropna()

In [5]:
new_data['date']= pd.to_datetime(new_data['date'])

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [6]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6546 entries, 3 to 6573
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    6546 non-null   datetime64[ns]
 1   RPT     6546 non-null   float64
 2   VAL     6546 non-null   float64
 3   ROS     6546 non-null   float64
 4   KIL     6546 non-null   float64
 5   SHA     6546 non-null   float64
 6   BIR     6546 non-null   float64
 7   DUB     6546 non-null   float64
 8   CLA     6546 non-null   float64
 9   MUL     6546 non-null   float64
 10  CLO     6546 non-null   float64
 11  BEL     6546 non-null   float64
 12  MAL     6546 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 716.0 KB

In [7]:
new_data

,date,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
3,2061-04-01,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-05-01,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
5,2061-06-01,13.21,8.12,9.96,6.67,5.37,4.50,10.67,4.42,7.17,7.50,8.12,13.17
6,2061-07-01,13.50,14.29,9.50,4.96,12.29,8.33,9.17,9.29,7.58,7.96,13.96,13.79
7,2061-08-01,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

In [15]:
new_data['date']

3      2061-04-01
4      2061-05-01
5      2061-06-01
6      2061-07-01
7      2061-08-01
          ...
6569   1978-12-27
6570   1978-12-28
6571   1978-12-29
6572   1978-12-30
6573   1978-12-31
Name: date, Length: 6546, dtype: datetime64[ns]

In [14]:
new_data.set_index('date')

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
date,,,,,,,,,,,,
2061-04-01,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
2061-05-01,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
2061-06-01,13.21,8.12,9.96,6.67,5.37,4.50,10.67,4.42,7.17,7.50,8.12,13.17
2061-07-01,13.50,14.29,9.50,4.96,12.29,8.33,9.17,9.29,7.58,7.96,13.96,13.79
2061-08-01,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6575 entries, 0 to 6574
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    6575 non-null   object
 1   RPT     6568 non-null   float64
 2   VAL     6571 non-null   float64
 3   ROS     6572 non-null   float64
 4   KIL     6569 non-null   float64
 5   SHA     6572 non-null   float64
 6   BIR     6574 non-null   float64
 7   DUB     6571 non-null   float64
 8   CLA     6572 non-null   float64
 9   MUL     6571 non-null   float64
 10  CLO     6573 non-null   float64
 11  BEL     6574 non-null   float64
 12  MAL     6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.9+ KB

In [20]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6546 entries, 3 to 6573
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    6546 non-null   datetime64[ns]
 1   RPT     6546 non-null   float64
 2   VAL     6546 non-null   float64
 3   ROS     6546 non-null   float64
 4   KIL     6546 non-null   float64
 5   SHA     6546 non-null   float64
 6   BIR     6546 non-null   float64
 7   DUB     6546 non-null   float64
 8   CLA     6546 non-null   float64
 9   MUL     6546 non-null   float64
 10  CLO     6546 non-null   float64
 11  BEL     6546 non-null   float64
 12  MAL     6546 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 1.0 MB

In [22]:
new_data.head()

,date,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
3,2061-04-01,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-05-01,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
5,2061-06-01,13.21,8.12,9.96,6.67,5.37,4.50,10.67,4.42,7.17,7.50,8.12,13.17
6,2061-07-01,13.50,14.29,9.50,4.96,12.29,8.33,9.17,9.29,7.58,7.96,13.96,13.79
7,2061-08-01,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46

In [23]:
new_data['VAL'].mean()

10.640267338832876

In [26]:
new_data.mean(axis=0)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """Entry point for launching an IPython kernel.

RPT    12.359979
VAL    10.640267
ROS    11.656396
KIL     6.298587
SHA    10.448923
BIR     7.085066
DUB     9.793006
CLA     8.486601
MUL     8.490257
CLO     8.696705
BEL    13.110668
MAL    15.603129
dtype: float64

In [27]:
new_data['mean'] = new_data.mean(axis=1)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """Entry point for launching an IPython kernel.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
new_data['mean']

3        6.619167
4       10.630000
5        8.240000
6       10.385000
7       10.487500
          ...
6569    16.708333
6570    15.150000
6571    14.890000
6572    15.367500
6573    15.402500
Name: mean, Length: 6546, dtype: float64

In [31]:
loc_stats['min']=new_data.min(axis=1)

In [34]:
loc_stats['min']

3       1.79
4       6.17
5       4.42
6       4.96
7       5.91
        ...
6569    8.08
6570    5.00
6571    8.71
6572    9.13
6573    9.59
Length: 6546, dtype: float64

In [35]:
loc_stats['max']=new_data.max(axis=1)

In [36]:
loc_stats['max']

3       11.75
4       13.33
5       13.21
6       14.29
7       16.62
        ...
6569    40.08
6570    41.46
6571    29.58
6572    28.79
6573    27.29
Length: 6546, dtype: float64

In [37]:
loc_stats['std']=new_data.std(axis=1)

In [38]:
loc_stats['std']

3       3.061972
4       2.341250
5       2.870427
6       2.941325
7       3.396221
          ...
6569    7.533109
6570    9.275416
6571    5.511751
6572    5.304564
6573    5.459712
Length: 6546, dtype: float64

In [40]:
new_data['date']

3      2061-04-01
4      2061-05-01
5      2061-06-01
6      2061-07-01
7      2061-08-01
          ...
6569   1978-12-27
6570   1978-12-28
6571   1978-12-29
6572   1978-12-30
6573   1978-12-31
Name: date, Length: 6546, dtype: datetime64[ns]

In [41]:
new_data['month'] = pd.DatetimeIndex(new_data['date']).month

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [42]:
new_data['month']

3        4
4        5
5        6
6        7
7        8
        ..
6569    12
6570    12
6571    12
6572    12
6573    12
Name: month, Length: 6546, dtype: int64

In [45]:
 new_data['avg']=new_data[new_data['month'] == 1].avg()

AttributeError: 'DataFrame' object has no attribute 'avg'

In [48]:
print(data.isnull().values.ravel().sum())

43

In [49]:
x=new_data.count()
print("Total Non-missing values are :",x.sum())

Total Non-missing values are : 98190

In [55]:
y = new_data.mean()
y.mean()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """Entry point for launching an IPython kernel.

9.958451698965563

In [57]:
def stats(x):
    x = pd.Series(x)
    Min = x.min()
    Max = x.max()
    Mean = x.mean()
    res = [Min,Max,Mean]
    indx = ["Min","Max","Mean"]
    res = pd.Series(res,index=indx)
    return res
loc_stats = new_data.apply(stats)
loc_stats

,date,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,mean,month
Min,1971-01-01 00:00:00.000000000,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000,2.062500,1.000000
Max,2070-12-31 00:00:00.000000000,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000,29.994167,12.000000
Mean,2025-05-25 16:34:19.028413952,12.359979,10.640267,11.656396,6.298587,10.448923,7.085066,9.793006,8.486601,8.490257,8.696705,13.110668,15.603129,10.222465,6.526276

In [58]:
day_stats = new_data.apply(stats,axis=1)
day_stats.head()

TypeError: '<=' not supported between instances of 'Timestamp' and 'float'

In [62]:
january_data =new_data[new_data['month'] == 1]

In [64]:
january_data.mean()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """Entry point for launching an IPython kernel.

RPT      14.262726
VAL      12.440632
ROS      12.773592
KIL       7.040253
SHA      11.529061
BIR       7.914801
DUB      11.231264
CLA       9.394170
MUL       9.322581
CLO       9.741733
BEL      14.244477
MAL      17.282329
mean     11.431468
month     1.000000
dtype: float64

In [66]:
print( "Yearly:\n", new_data.resample('M').mean())

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Int64Index'